h1 {
    color: rgba(255, 0, 255, 0.808);
    font-size: 200px
}

img {
    background-color: rgb(3, 252, 24);
}

.bacon {s
    background-color: rgb(128, 0, 0);
}

.broccoli {
    background-color: rgb(47, 0, 255);
}